@import url("https://fonts.googleapis.com/css?family=Lobster|Permanent+Marker|Kaushan+Script|Signika");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Times New Roman", Times, serif;
}
body {
  margin: 20px;
  text-decoration: none;
  scroll-behavior: smooth;
}
.wrapper {
  display: grid;
  grid-gap: 35px;
  scroll-behavior: smooth;
}
.navbar1 {
  display: grid;
  grid-gap: 0 20px;
  margin-left: 1%;
  margin-right: 1%;
  grid-column-start: auto;
  grid-column: center;
  list-style: none;
  padding: 10px;
  grid-template-columns: repeat(3, 0.9fr);
}
.navbar1 a {
  background: rgb(172, 164, 148);
  display: block;
  border-style: hidden;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Signika", cursive, bold;
  font-size: 110%;
  box-shadow: 1px 3px 5px rgba(71, 68, 68, 0.7);
}
.navbar1 :hover {
  background-color: rgb(41, 40, 38);
  box-shadow: 1px 3px 5px rgba(219, 208, 208, 0.7);
  color: white;
  border-style: hidden;
  border-radius: 10px;
}

.wrapper::after {
  content: "";
  background: url(coffee-shop.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.image-home {
  column-span: all;
  font-family: "lobster", sans-serif;
  font-size: 300%;
  text-align: right;
  padding-right: 5%;
}
.menu {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  min-width: 400px;
}
.item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 400px;
  grid-gap: 20px;
  column-gap: 10px;
}
.item-image {
  max-width: 100%;
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
  background-position: center;

  box-sizing: border-box;
}

.content {
  font-family: "lobster", cursive;
  font-size: 200%;
  text-align: right;
  padding-right: 5%;
  box-sizing: border-box;
  border: 1px none;
  text-align: justify right;
}
.review {
  font-family: "Signika", cursive;
  font-size: 120%;
}
.order_page {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  min-width: 400px;
}
.order_item {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 3fr;
  grid-auto-rows: 400px;
  grid-gap: 20px;
  column-gap: 10px;
}
.content2 {
  font-family: "Kaushan-Script", cursive;
  font-size: 200%;
  text-align: right;
  padding-right: 5%;
  box-sizing: border-box;
  border: 1px none;
}
.quantity {
  align-items: center;
  box-sizing: border-box;
  box-align: center;
}
#forma {
  width: 45px;
  height: 25px;
  margin: 8px 0;
  box-sizing: border-box;
}

#quantity1,
#quantity2,
#quantity3,
#quantity4 {
  width: 45px;
  height: 25px;
}
