html {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  margin: 20px;
  text-decoration: none;
  background-color: beige;
}
.wrapper {
  display: grid;
  grid-gap: 35px;
  background-color: beige;
}
.navigation ul {
  display: grid;
  grid-gap: 20px;
  grid-column: center;
  list-style: none;
  grid-template-columns: repeat(4, 0.8fr);
}
.navigation a {
  background: rgb(172, 164, 148);
  display: block;
  border-style: hidden;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 3px 5px rgba(71, 68, 68, 0.7);
}
.navigation :hover {
  background: rgb(41, 40, 38);
  box-shadow: 1px 3px 5px rgba(219, 208, 208, 0.7);
  color: white;
}

.image-home {
  background-image: url("coffee-shop.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  column-span: all;
}
.menu {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}
.menu > div {
  display: grid;

  grid-template-columns: 1fr 1fr;

  border-image: 0em;
  image-resolution: 400px 250px;
}
